@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <button onclick="window.location.href='/api/timesheet/approve/?timesheetId=884b1219-b62e-48fd-acac-1b58713df77e&userId=7fb64805-b40c-4d9b-93be-34e95ac0a263'">
        Approve
    </button>
</div>
